<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 8px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-7">
                <nav class="navbar has-background-primary-light" role="navigation">
                    <div class="navbar-brand has-background-primary">
                        <p class="navbar-item is-size-4"><strong class="has-text-white">Schedule</strong></p>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="{% url 'home' %}">Home</a>
                            {% if user.is_authenticated %}
                            <a class="navbar-item" href="{% url 'calendar_redirect' user.username %}">Calendar</a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Events</a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="{% url 'events' user.username %}">Events list</a>
                                    <a class="navbar-item" href="{% url 'create_event' user.username %}">Create new event</a>
                                </div>
                            </div>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Invitations</a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item">Active links</a>
                                    <a class="navbar-item" href="{% url 'events' user.username %}">Create new link</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="navbar-end">
                            {% if user.is_authenticated %}
                                <p class="navbar-item">You are logged in as {{ user.username }}</p>
                                <p class="navbar-item"><a class="button is-primary" href="{% url 'logout' %}">log out</a></p>
                            {% else %}
                                <div class="navbar-item">
                                    <a class="button is-primary" href="{% url 'signup' %}">
                                        <strong>Sign up</strong>
                                    </a>
                                    <a class="button" href="{% url 'login' %}">
                                        Log in
                                    </a>
                                </div>
                            {% endif %}     
                        </div>
                    </div>
                </nav>
                <div class="box">
                    {% load tz %}
                    {% get_current_timezone as TIME_ZONE %}
                    <p>Your current time zone is {{ TIME_ZONE }}.</p>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>