<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 8px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="box">
                <p><a href="{% url 'home' %}">Home</a></p>
                {% load tz %}
                {% get_current_timezone as TIME_ZONE %}
                <p>{{ TIME_ZONE }}</p>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>