{% extends 'base.html' %}

{% block content %}
    {% if invite %}
        <p>{{ user }}</p>
    <p>Schedule the {{ invite.event.title }}, {{ invite.event.duration }} with {{ invite.event.owner.username }}</p>
    {% endif %}
    <h3>Schedule for {{ month_name }}, {{ year }}</h3>
    <a>previous month</a>
    <a>next month</a>
    {% if calendar %}
        <table class="table is-bordered">
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        {% for day in calendar %}
            {% if day.1 == 6 %}
                <tr>
            {% endif %}
                    <td>
                        {% if day.0 != 0 %}
                            {% if event_slug %}
                                <a href="{% url "event_schedule" username=username year=year month=month day=day.0|stringformat:"02d" event_slug=event_slug %}">
                                {{ day.0 }}
                                </a>
                            {% elif username %}
                                <a href="{% url "schedule" username=username year=year month=month day=day.0|stringformat:"02d" %}">
                                    {{ day.0 }}
                                </a>
                            {% elif invite %}
                                <a href="{% url "schedule_as_guest" uuid=invite.uuid year=year month=month day=day.0|stringformat:"02d"%}">
                                    {{ day.0 }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
            {% if day.1 == 5 %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}