{% extends 'base.html' %}

{% block content %}
    <h2>{{ username }}</h2>
    <p><a href="{% url "events" username=user.username %}">Manage</a> templates for Events.</p>
    <h3>Schedule for {{ year }}, {{ month_name }}</h3>
    {% if calendar %}
        <table>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        {% for day in calendar %}
            {% if day.1 == 6 %}
                <tr>
            {% endif %}
                    <td>
                        {% if day.0 != 0 %}
                            {% if event_slug %}
                                <a href="{% url "event_schedule" username=username year=year month=month day=day.0|stringformat:"02d" event_slug=event_slug %}">
                                {{ day.0 }}
                                </a>
                            {% else %}
                                <a href="{% url "schedule" username=username year=year month=month day=day.0|stringformat:"02d" %}">
                                    {{ day.0 }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
            {% if day.1 == 5 %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}