{% extends 'base.html' %}

{% block content %}
    <h2>{{ user.username }}</h2>
    <h3>{{ year }}, {{ month_name }}</h3>
    {% if calendar %}
        <table>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        {% for day in calendar %}
            {% if day.1 == 6 %}
                <tr>
            {% endif %}
                    <td>
                        {% if day.0 != 0 %}
                            <a href="{% url "schedule" username=user.username year=year month=month day=day.0|stringformat:"02d" %}">{{ day.0 }}</a>
                        {% endif %}
                    </td>
            {% if day.1 == 5 %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}