{% extends 'base.html' %}
{% load filters %}

{% block content %}
<div class="columns">
    <form method="post" action="" class="column is-narrow">
        {% csrf_token %}
        <h2 class="is-size-4">Create a new event template</h2>
        {% for err in form.non_field_errors %}
            <p class="has-text-danger">{{ err }}</p>
        {% endfor %}
        <div class="field">
            <div class="label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</div>
            {{ form.title.errors }}
            <div class="control">{{ form.title|add_class:"input" }}</div>
        </div>
        <div class="field">
            <div class="label" for="{{ form.duration.id_for_label }}">{{ form.duration.label }}</div>
            {{ form.duration.errors }}
            <div class="control">{{ form.duration|add_class:"input" }}</div>
        </div>
        <input type="submit" value="submit" class="button is-primary">
    </form>
</div>
{% endblock %}