{% extends 'base.html' %}

{% block content %}
    <h2>List of recurring events</h2>
    {% if event_list %}
        <table>
        <tr>
            <th>Title</th>
            <th>Duration</th>
            <th colspan="4">Actions</th>
        </tr>
        {% for event in event_list %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.duration }}</td>
                <td>
                    {% if event.slug %}
                        <a href="{% url "event_calendar_redirect" username=user.username event_slug=event.slug %}">
                            Schedule: {{ event.slug }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if event.slug %}
                        <a href="{% url "event_update" username=user.username event_slug=event.slug %}">Update</a>
                    {% endif %}
                </td>
                <td>
                    {% if event.slug %}
                        <a href="{% url "event_delete" username=user.username event_slug=event.slug %}">Delete</a>
                    {% endif %}
                </td>
                <td>
                    {% if event.slug %}
                        <a href="{% url "invitation_create" username=user.username event_slug=event.slug %}">Invite</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No events are created.</p>
    {% endif %}
{% endblock %}