{% extends 'base.html' %}


{% block content %}
{% if invites_list %}
<h2>List of active invitation links</h2>
<table class="table is-bordered">
    <tr>
    <th>title</th>
    <th>duration</th>
    <th>link</th>
    <th>used</th>
    <th>expire</th>
    </tr>
    {% for el in invites_list %}
    <tr>
        
        <td>{{ el.event.title }}</td>
        <td>{{ el.event.duration }}</td>
        <td>/invite/{{ el.uuid }}</td>
        <td>{{ el.uses_counter }}/{{ el.max_number_of_uses }}</td>
        <td>{{ el.expiration_time }}</td>
        
    </tr>
    {% endfor %}
</table>

{% endif %}
{% endblock %}