{% extends 'base.html' %}
{% load filters %}

{% block content %}
    {% if username %}
        <h2>{{ username }}</h2>
        <p>The schedule for {{ date }} </p>
        {% if user.username == username %}
            {% if schedule_list %}
                <ul>
                {% for event in schedule_list %}
                    <li>{{ event.event.title }} {{ event.start_time }} - {{ event.end_time }}, <a href="{% url 'schedule_cancel' username event.uuid %}">cancel</a> </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No events are scheduled for this date.</p>
            {% endif %}
        {% endif %}
    {% elif invite %}
        <p>{{ invite.event.owner.username }}'s schedule for {{ date }} </p>
        <p>Schedule the {{ invite.event.title }}, {{ invite.event.duration }} with {{ invite.event.owner.username }}</p>
    {% endif %}
    <table class="table is-bordered">
        <tr>
            <th>Time</th>
            <th>Event</th>
        </tr>

    {% for i in time_list %}
        <tr>
            {% if i in schedule_dict %}
                <td>{{ i|time:"H:i" }}</td>
                <td>
                    {% if invite %}
                    unavailable
                    {% else %}
                    {{ schedule_dict|dict_get:i }}
                    {% endif %}
                </td>
            {% else %}
                <td>
                    {% if username %}
                        {% if not event_slug %}
                            <a href="{% url "schedule_event_form" username=username year=date.year  month=date|date:"m" day=date|date:"d" time=i|time:"H:i" %}">
                                {{ i|time:"H:i" }}
                            </a>
                        {% else %}
                            <a href="{% url "event_schedule_form" username=username event_slug=event_slug year=date.year  month=date|date:"m" day=date|date:"d" time=i|time:"H:i" %}">
                                {{ i|time:"H:i" }}
                            </a>
                        {% endif %}
                    {% elif invite %}
                        <a href="{% url "schedule_as_guest_form" uuid=invite.uuid year=date.year  month=date|date:"m" day=date|date:"d" time=i|time:"H:i" %}">
                                {{ i|time:"H:i" }}
                            </a>
                    {% endif %}
                </td>
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}