{% extends 'base.html' %}

{% block content %}
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    <form action="{% url 'set_timezone_guest' uuid %}" method="POST">
        {% csrf_token %}
        <label for="timezone" class="label">Time zone:</label>
        <div class="select">
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        </div>
        <input type="submit" value="Set" class="button is-primary">
    </form>
{% endblock %}